  <script type="x-handlebars-template" id="picker-template">
    <div class="picker circle circle-{{color}}"></div>
  </script>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a class="new_game" href="#">New Game</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="player_type">Human</span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="player_type_human" href="#">Human</a></li>
                <li><a class="player_type_cpu">CPU</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="difficult">Easy</span> <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a class="difficult_easy" href="#">Easy</a></li>
                <li><a class="difficult_medium" href="#">Medium</a></li>
                <li><a class="difficult_hard" href="#">Hard</a></li>
              </ul>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">Fours</h3>
      </div>

      <div class="jumbotron">
        
        <div class="table-responsive">
          <table class="table">
            <tr>
                <td class="col_picker" colspan="7"><div class="picker circle circle-blue"></div></td>

            </tr>
            <tr>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
            </tr>
            <tr>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
            </tr>
            <tr>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
            </tr>
            <tr>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
            </tr>
            <tr>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
                <td><div class="circle-hole"></div></td>
            </tr>
          </table>
        </div>
      </div>



      <footer class="footer">
        <p>Autor Mateusz Bajorski 258258</p>
      </footer>

    </div> <!-- /container -->